@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-space_grotesk text-lg font-normal bg-bg text-textDark
}
html {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  @apply p-0 m-0 font-space_grotesk
}

p {
  @apply font-space_grotesk text-base font-normal
}

h2 {
  @apply text-5xl md:text-7xl font-bold uppercase
}

h3 {
  @apply font-bold text-4xl leading-[50px];
}

h4{
  @apply font-bold text-lg;
}

h5 {
  @apply font-medium text-xl leading-7 tracking-normal;
} 

ul,
ol {
  @apply list-none
}

li {
  @apply font-light
}

span {
  @apply font-normal text-textGrey
}

a {
  @apply font-space_grotesk decoration-0 text-current
}

.container {
  @apply max-w-[1440px] w-full px-4 md:px-10 lg:px-20 mx-auto
}

.responsive-heading {
  font-size: clamp(3rem, 7vw, 7rem);
  line-height: 1.2;
  min-height: 80px;
}