@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-space_grotesk text-lg font-normal bg-bg text-textDark
}
html {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  @apply p-0 m-0 font-space_grotesk
}

p {
  @apply font-sans text-base font-normal text-inherit
}

h2 {
  @apply text-7xl font-bold
}

h3 {
  @apply font-bold text-4xl leading-[50px];
}

/* h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}

@media (min-width: 769px) {
  h1 {
    line-height: 60px;
    font-size: 52px;
  }
}



h4 {
  @apply font-light text-2xl leading-9 tracking-normal;
}

h5 {
  @apply font-medium text-xl leading-7 tracking-normal;
} */

ul,
ol {
  @apply list-none
}

li {
  @apply font-light
}

span {
  @apply font-normal text-textGrey
}

a {
  @apply font-space_grotesk decoration-0 text-current
}

.container {
  @apply max-w-[1440px] w-full lg:px-20 mx-auto
}

.responsive-heading {
  font-size: clamp(2rem, 7vw, 7rem);
  line-height: 1.2;
  min-height: 80px;
}